<h1>create a blog post here</h1>

<form>
write your blog here
<input type="text" name="postTitle" id="postTitle">
<textarea name="createBlog" id="createBlog"></textarea>
</form>

<button id="createPost">Create Post</button>      
<script src="/js/post.js"></script>