<h1>welcome to the homepage</h1>

{{!-- <button id="dashboardButton">dashboard</button> --}}
<a href="/dashboard">Dashboard</a>

<div>
{{!-- <button id="loginPageButton">login Page</button> --}}
<a href="/login">Login</a>
</div>

<div>
{{!-- <button id="homepageSignUp">sign up</button> --}}
<a href="/signUp">signUp</a>
</div>

<div> 
<p id="pastPosts">here are the past posts if there are any</p>

<p id="pastBlogPosts"></p>
</div>