<h1>welcome to the signup page</h1>


<form>
username :
<input type="text" name="uNameLogin" id="userNameForm">
</form>

<form>
password :
<input type="text" name="passwordLogin" id="passwordForm">

</form>

<button id="signUp">sign up</button>
<script src="/js/signUp.js"></script>